<button type="button" class="btn btn-primary" (click)="openModal(template)">Create News</button>


<template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create News</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <textarea [froalaEditor] formControlName="formModel" [(froalaModel)]="form.formModel"></textarea>
            <div [froalaView]="form.formModel"></div>
            <button type="submit">Submit</button>
        </form>
    </div>
</template>