<div class='col-md-8 col-md-offset-3' id="news-container">
    <div class="row">
        <div class="col-md-9" *ngFor="let news of newsList">
            <div class="thumbnail">
                <img src={{news.model_pic}}>
                <div class="caption">
                    <i class="fa fa-trash-o" aria-hidden="true" (click)="delNewsClick(news.pk)"></i>
                    <h2>{{news.title}}</h2>
                    <hr>
                    <div  [ngClass]="{text:!news.active}" [innerHTML]="news.text"></div>
                    <hr>
                    <p (click)="openDetailAuthor(news.author)"><i>Author: {{news.author}}</i></p>
                    <p><a  class="btn btn-default" role="button" (click)="showFullNews(news)">Show More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='col-md-8 col-md-offset-3'>
    <pagination></pagination>
</div>