<search *ngIf='name'></search>
<ul *ngIf='!name' class="nav navbar-nav navbar-right">
    <li role="presentation"><a routerLink="/registration" routerLinkActive="active">Registration</a></li>
    <li role="presentation"><a routerLink="/login" routerLinkActive="active">Login</a></li>
</ul>
<ul *ngIf='name' class="nav nav-pills">
    <li role="presentation"><a routerLink="/{{name}}" routerLinkActive="active">{{name}}</a></li>
    <li role="presentation"><a routerLink="/login" routerLinkActive="active">Log Out</a></li>
</ul>