.nav {
    float:right;
}

.nav  li a {
    color:#7db3ab;
    text-transform: uppercase;
}
.nav li a:hover {
    color:black;
}

.active {
    background:#fcfcfc;
    color:black;
}
.active a {
    color:black !important;
}